

.season-top{
    margin: 0px;
    display: flex;
    background-color: #f1f1f3;
    border-radius: 2px;
    border-color: black;
    border-style: solid;
}
.season-top-text{
    font-size: 230%;
    padding: 10px;
    width: 100%;
    margin:30px 30% 0 30%;
    text-align: center  ;
    border-radius: 1px;
    border-style: solid;
    border-radius: 100px;
}